<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters 초기화 파라미터 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters 리스너(웹애플리케이션이 처음 시작될때 실행됨). MyListener와 비슷 -->
	<!-- 웹애플리케이션이 처음 시작될 때, 실행 -->
	<!-- root-context.xml 설정파일의 내용대로 객체를 생성하여 보관하는 스프링 객체 컨테이너 생성 - parent -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Processes application requests 서블릿 -->
	<!-- 요청을 받아서 스프링에 등록된 객체들을 사용하여 처리하는 서블릿 -->
	<!-- servlet-context.xml 설정파일의 내용대로 객체를 생성하여 보관하는 스프링 객체 컨테이너 생성 - child -->
	<!-- DispatcherServlet이 스프링에 등록된 객체를 사용할때 child 컨테이너안에 있는 객체를 찾아서 사용하고, 없으면 parent 컨테이너 안에 있는 객체도 찾아서 사용가능. 
	=> root-context.xml, servlet-context.xml 둘다 객체를 생성해서 스프링에 등록돼서 사용.
	공통으로 사용할 부분을 따로 빼기 위해 두개로 분리해서 사용하는 것.-->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- 확장자 설정으로 매핑. (이미지파일을 처리할 필요x) -->
	<!-- "/" : 디폴트 경로 -->
</web-app>
